.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  &:not(&--error) > main {
    flex: 1;
  }

  &--error {
    align-items: center;
    justify-content: center;
  }
}

.text {
  &-primary {
    color: $primary;
  }
}

.container {
  &-slim {
    @include media-breakpoint-up(lg) {
      max-width: map-get($container-max-widths, lg) !important;
    }
  }
}

.content-section {
  padding: 4rem 0;

  @include media-breakpoint-up(md) {
    padding: 5rem 0;
  }

  &-lg {
    @include media-breakpoint-up(lg) {
      padding: 10rem 0;
    }
  }

  &.is-image {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.rte-content {
  & > * {
    margin-top: 2rem;
    margin-bottom: 2rem;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.image-wrapper {
  position: relative;
  width: 100%;
  background-color: $navy-light;
  border-radius: 0.75rem;
  overflow: hidden;
  box-shadow: 0 10px 30px -15px $navy-dark;

  & img {
    width: 100%;
    max-width: 100%;
    height: auto;
  }

  & + & {
    margin-top: 2.5rem;
  }
}

[data-aos],
.aos-init {
  @include media-breakpoint-down(md) {
    opacity: 1 !important;
    transform: none !important;
    transition: none !important;
  }
}

.accolades {
  display: grid;
  grid-template-columns: repeat(auto-fit, 120px);
  gap: 1.5rem;

  & img {
    max-width: 150px;
    width: 100%;
    height: auto;
  }
}
