body {
  padding-top: $header-height;
}

/* ==========================
  PAGE TRANSITIONS
  ============================= */
.page-leave-active {
  transition: opacity 0.15s 0s cubic-bezier(0.39, 0.57, 0.56, 1);
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.25s 0.1s cubic-bezier(0.39, 0.57, 0.56, 1), transform 0.55s cubic-bezier(0.39, 0.57, 0.56, 1);
}

.page-enter-from,
.page-leave-to {
  opacity: 0;
}
