$white: #ffffff;
$navy: #1e2028;
$navy-light: #252731;
$navy-dark: #121212;

$body-bg: $navy;
$body-color: #adb5bd;

$header-bg-color: $navy;
$header-menu-bg-color: $navy-dark;
$header-text-color: $white;
$header-height: 5rem;

$font-mono: "Roboto Mono", monospace;
$font-sans: "Roboto", sans-serif;
$headings-color: rgba(white, 0.87);
$headings-color-hover: white;
