.heading-block {
  $this: ".heading-block";

  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: map-get($spacers, 4);

  @include media-breakpoint-up(lg) {
    margin-bottom: map-get($spacers, 5);
  }

  &--center {
    text-align: center;

    & > #{$this}-content {
      align-self: center;
    }
  }

  &--slim {
    & > #{$this}-content {
      max-width: 600px;
    }
  }

  &-tagline {
    font-size: 0.875rem;
    text-transform: uppercase;
    color: $primary;
    font-weight: $font-weight-bold;
    @extend %font-mono;
    letter-spacing: 1px;
    margin-bottom: map-get($spacers, 1);
  }

  &-title {
    font-weight: $font-weight-bold;
    color: $headings-color;

    &-xl {
      @include font-size(map-get($display-font-sizes, 5));
    }

    &-lg {
      @include font-size(map-get($font-sizes, 1));
    }

    &-md {
      @include font-size(map-get($font-sizes, 2));
    }

    &-sm {
      @include font-size(map-get($font-sizes, 4));
    }
  }

  &-description {
    @extend .lead;
  }
}
